@import url('http://fonts.cdnfonts.com/css/chunq-dipped');
@import url('http://fonts.cdnfonts.com/css/curse-of-the-zombie');
@import url('http://fonts.cdnfonts.com/css/psycho-dad');


@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');




*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;

}



body{
    
    background-color: rgb(42, 42, 42);
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23887979' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a{
    color: white;
    text-decoration: none;

}
ul{
    list-style: none;
}




.menu-btn{
    visibility: hidden;
    cursor: pointer;
    font-size: 2em;
    padding: 0 0.5em;
    color: whitesmoke;
}

#iconMenu{
       max-width: 4em;
       margin: 1.25em;
       margin-left: 4em;
       -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
       
}
#iconMenu:hover{
    max-width: 4.2em;
    
}

/*Navegation*/
.nav-main{
    font-size: 1.06em;
    width: 100%;
    display : flex;
    justify-content: space-between;
    background-color: rgba(19, 19, 19, 0.524);
    border-bottom: 2px solid rgb(191, 0, 0);
    align-items: center ;
    height: 5em;
    padding: 1.25em 0;
}

.nav-main ul{
    display: flex;
    justify-content: center;
}
.nav-main ul li{
    padding: 0 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.nav-main ul.nav-menu li  a:hover{
    color: white;
    text-shadow: 2px 2px 4px rgb(204, 10, 10);
    border-bottom: 2px solid rgb(204, 10, 10);
    background-color: goldenrod;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 1%;
}
.nav-main ul.nav-menu a{
    padding:  1% 0;
    border: 0;
    
}

.nav-main ul.nav-menu-right li a i {
    padding: 0 0.5em;
    font-size: 2em;
}

/* SHOWCASE*/
.showcase{
    width: 100%;
    padding: 10% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    background :url('img/header.png') no-repeat center center/cover;
}

.showcase h1{
    margin-bottom: 2%;
   color:rgb(238, 238, 238);
   text-shadow: 2px 2px 22px rgba(191, 0, 0, 0.864);
   text-transform: uppercase;
   width:auto;
   padding: 5% 10%;
   background-color: rgba(0, 0, 0, 0.304);
    
}

.showcase p{
    margin-top: 2%;
   color:rgb(238, 238, 238);
   width:auto;
   font-size: 110%;
   padding: 5% 10%;
   background-color: rgba(0, 0, 0, 0.304);
    
}


.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 2% 8%;
    
    background-color:rgba(191, 0, 0, 0.864);
    font-size: 0.937em;
    border:4px outset rgb(255, 255, 255);
    box-shadow:2px 2px 22px rgb(238, 238, 238);
    
    margin: 5% 0;
}
.btn:hover{
    background-color:rgba(100, 0, 0, 0.864);
    border: 4px inset rgb(255, 255, 255);

}

/*STORY CARDS*/
.story-cards{
    border-top: 2px solid rgb(191, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(99, 22, 22);
    padding-bottom:0.7em;
    
}
.story-cards img{
    width: 100%;
    height: 40em;
}
.story-cards div:hover img{
    cursor: pointer;
    width: 100%;
    height: 35em;
}

.story-cards h3{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 0 1.25em;
}

.story-cards p{
    color: rgba(255, 255, 255, 0.626);
    text-align: center;
    padding: 1.1em 1.25em;
}

/*  SOCIAL  */
.social{
    padding: 3.125em;
    background-color: rgba(29, 29, 29, 0.816);
    border-bottom: 1px solid red;
}
.social p{
    color: whitesmoke;
    text-shadow: 4px 2px 22px red;
    text-align: center;
    font-size: 1.875em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
}
.links-social{

    display: flex;
    align-content: center;
    justify-content: center;
}

.links-social a{

    margin: 0 1.875em;
    
}

.links-social i{

    font-size: 5em;
    text-shadow: 4px 2px 22px red;
    
}

/*FOOTER LINKS*/

.footer-links{
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    font-size: 1em;
    padding:2.1875em 0
}
.footer-container{
    font-size: 0.75em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625em;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
        
    line-height: 2.8;
}

.footer-container ul li a:hover{
    color: rgba(191, 0, 0, 0.864);
    text-decoration-line: underline;
}

.footer-container ul li h3{
    line-height: 1.5;
    cursor: default;
    color: white;
    font-size: 1.4375em;
    text-shadow: 4px 4px 9px rgba(191, 0, 0, 0.864);;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

footer{
    position: static;
  float:none;
  box-sizing: flex;
  bottom: 0em;
  width: 100%;
  background-color: rgb(29, 29, 29);
  color: rgb(238, 238, 238);
  text-align:  center;
  padding:25px 0;
}

footer h3{
    font-size: 0.75em;
}

@media(max-width:1098px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        padding: 0 10%;
        left: 0;
        top: 0;
        background-color: rgba(29, 29, 29, 0.816);
        height: 100%;
        align-items: center;
        white-space: pre-line;
        transform: translateX(-25em);
        transition: transform .5s ease-in-out;
    }
    .menu-btn{
        visibility: visible;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-1.55em);
    }
    .story-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .story-cards img{
       height: 20em;
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:400px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        padding: 0 10%;
        left: 0;
        top: 0;
        background-color: rgba(29, 29, 29, 0.816);
        height: 100%;
        align-items: center;
        white-space: pre-line;
        transform: translateX(-25em);
        transition: transform .5s ease-in-out;
    }
    .menu-btn{
        visibility: visible;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-1.25em);
    }
    .story-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .story-cards img{
        height: 20em;
     }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}
